.font-tahoma {
    font-family: 'Tahoma';
}
.font-arial {
    font-family: 'Arial';
}
body {
    font-size: 13px;
    font-family: 'Tahoma', sans-serif;
    background: #000080;
}
.fs-x-small {font-size: x-small;}
.fs-small {font-size: small;}
.fs-medium {font-size: medium;}
.fs-large {font-size: large;}
.fs-x-large {font-size: x-large;}
.fs-xx-large {font-size: xx-large;}

.f-color-1 {color: #FFFFFF;}
.f-color-2 {color: #CC0000;}
.f-color-3 {color: #0000FF;}
.f-color-4 {color: #FF0000;}
.f-color-5 {color: #000080;}
.f-color-6 {color: #0033CC;}
.f-color-7 {color: #000000;}

.inline-block {display: inline-block;}
.center {text-align: center;}

.blue-button {
    width: 160px;
    margin: auto;
    border: none;
    text-decoration: none;
}
.blue-button a {
    text-decoration: none !important;
}
